/*-----------------------------------------------
Version:     1.0
Author:      M Anas latif
Author Url:  https://m.anaslatif.com/
----------------------------------------------- */
/* font-family: 'Raleway', sans-serif; */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');

/* font-family: 'Caveat', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

/* font-family: 'Cookie', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

/* google font icons  */

.material-icons-outlined,
.material-icons {
    font-family: 'Material Icons' !important;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';
}

/* root color variabial */

:root {
    --skin-dark: #6f42c1;
    --skin-mute: #8c68cd;
    --skin-light: #a98eda;
    --skin-t: #6f42c280;
    --skin-t2: #9579c8de;
    --text-dark: #27242c;
    --text-mute: #888888;
    --text-light: #ffffff;
    --bg-full-dark: #111418;
    --bg-mute-dark: #191b1d;
    --bg-light-dark: #272b30;
    --bg-full-light: #ffffff;
    --bg-mute-light: #fafafa;
    --bg-light-light: #eff0f2;
    --skin-1: var(--skin-dark);
    --skin-2: var(--skin-mute);
    --skin-3: var(--skin-light);
    --skin-4: var(--skin-t);
    --text-1: var(--text-dark);
    --text-2: var(--text-mute);
    --text-3: var(--text-light);
    --bg-1: var(--bg-full-light);
    --bg-2: var(--bg-mute-light);
    --bg-3: var(--bg-light-light);
    --box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
    --text-shadow: 0px 0px 8px var(--bg-full-light);
}


/* root color variabial in dark mode */

body.dark {
    --skin-1: var(--skin-light);
    --skin-2: var(--skin-dark);
    --text-1: var(--text-light);
    --text-3: var(--text-dark);
    --bg-1: var(--bg-full-dark);
    --bg-2: var(--bg-mute-dark);
    --bg-3: var(--bg-light-dark);
    --text-shadow: 0px 0px 8px var(--bg-full-dark);
}


/* sidebar style  */

::after,
 ::before {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--skin-light);
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px var(--bg-3);
}


/* default style for all Element  */

* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

body {
    background-color: var(--bg-2);
    color: var(--text-1);
    font-family: 'Raleway', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-1);
    display: inline-block;
}

.inner {
    padding: 10px;
    max-width: 1000px;
    margin: auto;
    display: flex;
}

.section_heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 5px;
}

.section_heading h1 {
    border-bottom: 2px dotted;
    padding: 5px;
    display: flex;
    align-items: center;
    font-size: 30px;
    text-align: center;
}

.section_heading a {
    display: flex;
    align-items: center;
    cursor: default;
}

.section_heading svg {
    width: 30px;
    margin-right: 10px;
    fill: var(--text-1);
}

@media screen and (max-width: 480px) {
 .section_heading h1 {
     font-size: 20px;
 }
}


/* ========== Page loader Section Start ========= */

.page-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    background: var(--bg-1);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: opacity .5s;
}

.page-loader.fade-out {
    opacity: 0;
}

.page-loader .center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wave {
  width: 5px;
  height: 100px;
  background: linear-gradient(45deg, var(--skin-2), var(--text-1));
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}


/* ========== navbar style Start ========= */


nav {
    position: fixed;
    top: -60px;
    left: 0;
    width: 100%;
    transition: top .5s;
    z-index: 100;
}

nav::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--skin-t2);
    transition: top .5s;
}

nav.top::after {
    top: -60px;
}

navspace {
    display: block;
    height: 60px;
    width: 100%;
}

nav.show {
    top: 0;
}

nav.top {
    box-shadow: none;
    width: 100%;
}

nav .inner {
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

nav a {
    color: var(--text-light);
    transition: all .2s;
    cursor: pointer;
}

nav.top a {
    color: var(--text-1);
}

nav a:hover {
    transform: scale(1.07);
}

nav a svg {
    fill: var(--text-light);
}

nav.top a svg {
    fill: var(--text-1);
}

nav .logo {
    font-size: 26px;
    font-family: 'Caveat', cursive;
}

menu {
    display: flex;
    align-items: center;
}

menu a {
    padding: 0 10px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

menu a svg {
    display: block;
    width: 20px;
    height: 20px;
    margin-bottom: 2px;
}

menu .theme::after {
    content: "Dark";
}

body.dark menu .theme::after {
    content: "Light";
}

nav button {
    display: none;
}

backgrondcover {
    display: none;
}


/* when menu open in mobile  */

@media screen and (max-width: 480px) {
    menu {
        position: fixed;
        top: 0;
        right: -100px;
        height: 110%;
        width: 65px;
        flex-direction: column;
        background-color: var(--skin-3);
        padding-top: 45px;
        transition: right .5s;
        box-shadow: var(--box-shadow);
    }
    menu a {
        padding: 10px;
    }
    body.open_menu menu {
        right: 0;
    }
    /* Mobile Menu  button */
    nav button {
        display: flex;
        align-items: center;
        width: 25px;
        height: 25px;
        border: none;
        background: none;
        position: relative;
        z-index: 100;
        margin-right: 10px;
        cursor: pointer;
    }
    nav button span {
        display: block;
        width: 25px;
        height: 2px;
        background: var(--text-light);
        border-radius: 2px;
        position: relative;
    }
    nav.top button span {
        background: var(--text-1);
    }
    nav button span::after,
    nav button span::before {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        border: none;
        position: absolute;
        background: var(--text-light);
        border-radius: 2px;
        transition: transform .2s;
    }
    nav.top button span::after,
    nav.top button span::before {
        background: var(--text-1);
    }
    nav button span::after {
        top: 7px;
    }
    nav button span::before {
        bottom: 7px;
    }
    body.open_menu nav button span::after {
        top: 0px;
        transform: rotate(-45deg);
    }
    body.open_menu nav button span::before {
        bottom: 0px;
        transform: rotate(45deg);
    }
    body.open_menu nav button span {
        background: var(--body-3);
    }
    body.open_menu {
        overflow: hidden;
    }
    body.open_menu backgrondcover {
        display: block;
    }
    backgrondcover {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--bg-1);
        opacity: .8;
        z-index: 50;
    }
}


/* ========== navbar style End ========= */

/* ========== header style Start ========= */

header {
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

header .inner {
    padding: 50px 10px;
    align-items: center;
}

header .details {
    width: 55%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 15px;
}

header .details .aoa {
    font-size: 25px;
    padding: 10px 0;
    font-family: 'Cookie', cursive;
    text-shadow: var(--text-shadow);
}

header .details .name {
    font-size: 30px;
    text-shadow: var(--text-shadow);
}

header .details .paragraph {
    padding: 10px 0;
    padding-top: 25px;
    font-size: 16px;
    text-shadow: var(--text-shadow);
    min-width: 410px;
}

header .details .btn {
    display: flex;
    padding-top: 10px;
}

header .details a {
    padding: 7px 10px;
    margin-right: 10px;
    font-size: 10px;
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    border-radius: 7px;
}

header .details a span {
    opacity: 0;
    transform: translateY(-12px);
    transition: opacity, transform .2s, .5s;
}

header .details a:hover span {
    opacity: 1;
    transform: translateY(5px);
}

header .details a svg {
    fill: var(--text-1);
    width: 25px;
    height: 25px;
    box-sizing: var(--text-shadow);
}

header .img_box {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .img {
    position: relative;
    width: 80%;
    display: flex;
    align-content: center;
    justify-content: center;
}

header .img .before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    background-color: var(--skin-4);
    z-index: 1;
    border-radius: 52% 65% 52% 50% / 69% 64% 60% 48%;
    transition: transform .3s;
    transform: translateY(0px);
}

header .img:hover .before {
    transform: translateY(16px) rotate(90deg);
}

header .img-inner {
    position: relative;
    width: 80%;
    display: flex;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 40%;
    z-index: 10;
    transition: transform .3s;
}

header .img:hover .img-inner {
    transform: scale(1.1);
}

header .img img {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 4;
}

header .projact-box {
    display: flex;
    justify-content: center;
    padding: 20px 0;
}

header .projact-box div {
    padding: 10px;
}

header .projact-box h1 {
    font-size: 25px;
    text-align: center;
}

header .projact-box p {
    font-size: 14px;
    text-align: center;
}


header .socal_madia {
    margin: 15px;
    align-items: center;
    display: flex;
}

header .socal_madia a {
    padding: 10px;
    transition: transform .2s;
}

header .socal_madia a:hover {
    transform: translateY(-10px) rotate(40deg);
}

header .socal_madia svg {
    width: 25px;
    height: 25px;
    fill: var(--text-1);
    box-sizing: var(--text-shadow);
}

@media screen and (max-width: 670px) {
    header .inner {
        flex-direction: column-reverse;
        align-items: center;
    }
    header .details {
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-left: 15px;
    }
    header .details .name {
        width: 100%;
        text-align: center;
    }
    header .details .paragraph {
        text-align: center;
        width: 100%;
        min-width: auto;
    }
    header .details .btn {
        margin: auto;
    }
    header .details a span {
        opacity: 1;
        transform: translateY(5px);
    }
    header .img_box {
        width: 100%;
    }
    header .img {
        width: 60%;
    }
    header .img-inner {
        position: relative;
        width: 80%;
        display: flex;
        align-content: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 40%;
        z-index: 10;
        transition: transform .3s;
    }
    header .img img {
        height: 100%;
        width: 100%;
        position: relative;
        z-index: 4;
    }

    header #home_page {
        width: 100%;
    }

    header .details a:hover {
        transform: scale(1.1);
    }
}


/* Background animation */

header::after {
    content: '';
    position: absolute;
    background-image: url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEh8s4KIAYPep9-ZDvoVFtvFhhsArjVbU-plzW-jOyqZe1ydzJYuHhG1VSfJIBIAw6cgCT_Mgx721vYvk_ANS4rQ4dYki1zOdiwIGG1TMSiVyWtpAn9XaNBlkgVmLB4BzQ-irxBQmm2n9jdxYCKF62fZ8bBxQ_JOSZkPtUGMuUKBg3wrVZh_W7coRYQu/s1600/header_pg_light.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    filter: blur(3px) brightness(110%);
    height: 100%;
    width: 100%;
    z-index: -10;
    top: 0;
    left: 0;
    animation: zoominOut 30s ease infinite;
}

@keyframes zoominOut {
    0%,
    100% {
        transform: scale(1) rotate(0deg);
    }
    50% {
        transform: scale(1.1) rotate(5deg);
    }
}

body.dark header::after {
    filter: blur(6px) brightness(100%);
    background-image: url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhWspgbKplo8H3DicPC67c4TZgAwj1uU31oRaDts3Mp9DbcPdOzs4n7_k_EOlCKfzESGJOy8NBh_C9DoZhDy-7xfimpLWM9Zb3kwgOKfvuX6QeZvZbdmF-XJgp3TgmueJPa4GO-4TE2vPgwl6-L-NPvowG7WfwXsPVAoWW276OswrlE3NErrcG8D9s0/s1600/header_pg_dark.jpg);
}

heater_animation {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -5;
    top: 0;
    left: 0;
}

heater_animation .dots {
    position: absolute;
    opacity: .2;
    height: 200px;
    width: 200px;
    z-index: -5;
    bottom: -100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
    animation: rotate_box 30s linear infinite;
}

heater_animation .dots div {
    padding: 4px;
    margin: 6px;
    border-radius: 50%;
    background-color: var(--skin-1);
}

@keyframes rotate_box {
    0%,
    100% {
        transform: rotate(0deg);
        left: calc(0% - 100px);
    }
    50% {
        transform: rotate(360deg);
        left: calc(100% - 100px);
    }
}


heater_animation .area{  
    width: 100%;
    height:100vh;
}

heater_animation .circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

heater_animation .circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: var(--bg-3);
    animation: animate 25s linear infinite;
    bottom: -150px;

}

heater_animation .circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


heater_animation .circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

heater_animation .circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

heater_animation .circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

heater_animation .circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

heater_animation .circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

heater_animation .circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

heater_animation .circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

heater_animation .circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

heater_animation .circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 0.7;
        border-radius: 30%;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
  border-radius: 52% 65% 52% 50% / 69% 64% 60% 48%;
    }

}

/* ========== header style End ========= */

main .inner{
    padding: 50px 10px;
    flex-direction: column;
}

main img{
    max-width: 100%;
}
main svg{
    max-width: 100px;
}

/* ========== MultipleItems Page ========= */

body.multiple-page-view::after {
    content: '';
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -10;
    top: 0;
    left: 0;
 background-image: radial-gradient(var(--skin-1) 0.5px, var(--bg-1) 0.5px), radial-gradient(var(--skin-1) -0.5px, var(--bg-1) 0.5px);
    background-size: 15px 15px;
    background-position: 0 0,7px 7px;
}

main .MultipleItems_item {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    justify-items: center;
    grid-gap: 10px;
}

main .MultipleItems_item .post {
    max-width: 320px;
    width: 100%;
    overflow: hidden;
    transition: .5s ease;
}

main .MultipleItems_item .post .img {
    width: 100%;
    position: relative;
    transition: .5s ease;
    backface-visibility: hidden;
    border: 4px solid var(--bg-3);
    border-radius: 7px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .MultipleItems_item .post img {
    display: block;
    width: 100%;
    transform: scale(1);
    transition: .5s ease;
    backface-visibility: hidden;
 object-fit: cover;
}

main .MultipleItems_item .post:hover img {
    transform: scale(1.1);
}

main .MultipleItems_item .label {
    font-size: 14px;
    padding: 5px;
    margin: 2px;
    border: 1px solid;
    color: var(--text-1);
    display: inline-flex;
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s ease;
    text-transform: capitalize;
    background-color: var(--bg-1);
    opacity: 0.8;
    z-index: 10;
    align-items: center;
}

main .MultipleItems_item .label svg {
    width: 15px;
    margin-right: 10px;
    fill: var(--text-1);
}

main  .MultipleItems_item .post-heading {
    color: var(--text-1);
    padding: 5px;
    transition: .5s ease;
    font-size: 18px;
}

main .MultipleItems_item .post:hover .post-heading {
    text-decoration: underline;
}

@media screen and (max-width: 800px) {
    main .MultipleItems_item {
        grid-template-columns: repeat(2, 49%);
    }
}

@media screen and (max-width: 430px) {
    main .MultipleItems_item {
        grid-template-columns: 98%;
    }
}

/* ========== Post body ========= */

body.is-single::after {
    content: '';
    position: fixed;
    background-image: linear-gradient(45deg, var(--bg-2) 50%, var(--bg-1) 50%);
    background-size: 10px 10px;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    z-index: -10;
    top: 0;
    left: 0;
    animation: multiple_page 15s ease infinite;
}

main .SingleItem_item .about-post {
    display: flex;
    align-items: center;
    justify-content: center;
 flex-wrap: wrap;
    margin: 5px 0 20px 0;
}

main .about-post svg {
    width: 16px;
    margin-right: 10px;
    fill: var(--skin-1);
}

main .about-post a {
    display: inline-flex;
    align-items: center;
  padding: 5px;
}

main #post_main {
    padding: 10px;
    display: flex;
    flex-direction: column;
 align-items: center;
}

main #post_main a{
    padding: 10px;
 color:var(--text-light);
}

main #post_main p {
    padding-bottom: 10px;
    text-align: center;
    font-size: 16px;
}

main #post_main butten {
    display: inline-block;
    padding: 10px;
    background: var(--skin-2);
    border-radius: 7px;
    margin: 10px;
}


/* ========== Post body ========= */

body.is-page::after {
    content: '';
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -10;
    top: 0;
    left: 0;
    animation: multiple_page 15s ease infinite;
}

main .page_body_data {
    margin-top: 50px;
}

/* ========== main style Start ========= */

/*  Show more */

main .showmore {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
 padding: 10px;
}

main .showmore a {
    display: inline-flex;
    padding: 10px;
    align-items: center;
    background: var(--skin-2);
    border-radius: 7px;
}

main .showmore svg {
    height: 20px;
 fill: var(--text-light);
}


/* ========== main style End ========= */

/* ========== footer style Start ========= */

footer {
    padding: 20px;
}

footer p.copyright-area {
    font-size: 15px;
    line-height: 30px;
    text-align: center;
    color: var(--text-1);
}

footer p.copyright-area a {
    color: var(--skin-1);
}

footer p.copyright-area a:hover {
    text-decoration: underline
}

@media screen and (max-width: 320px) {
    footer {
        padding: 10px;
    }
    footer p.copyright-area {
        font-size: 12px;
    }
}

/* ========== footer style end ========= */